section.slider-section
	.container
		h2 What can DuHoot offer for you?
		p  Lorem ipsum dolor sit amet, consectetur
		.slider.clear-fix
			ul.clear-fix
				li
					a(href="javascript:void" class="slider-active")
						<i class="fa fa-home"></i>
				li
					a(href="javascript:void")
						<i class="fa fa-user"></i>
				li
					a(href="javascript:void")
						<i class="fa fa-graduation-cap"></i>
				li
					a(href="javascript:void")
						<i class="fa fa-music"></i>
				li
					a(href="javascript:void")
						<i class="fa fa-bus"></i>
			.slider-content-label
				span Reality
			.slider-content.clear-fix
				.slider-first-block
					.first-slider-icon.slider-icon
						<i class="fa fa-bolt"></i>
					.slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores pariatur quos sunt repellendus odio ex eum non sed eligendi ipsum iusto veniam consectetur nam velit, dolorem minus illum amet! Deleniti.
				.slider-second-block
					.first-slider-icon.slider-icon
						<i class="fa fa-leaf"></i>
					.slider-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis officia vero quas placeat perspiciatis ipsam consequatur rerum assumenda. Blanditiis ut consectetur unde itaque fugiat suscipit quo doloribus, quis maiores ea.
