doctype html
html
	include ../blocks/head/head
	body
		include ../blocks/header/header
		include ../blocks/main-section/main-section
		include ../blocks/slider-section/slider-section
		include ../blocks/footer/footer

		include ../blocks/script/script