@font-face{
    font-family: 'gothambook';
    src: url('../fonts/gothambook.eot');
    src: url('../fonts/gothambook.eot?#iefix') format('embedded-opentype'),url('../fonts/gothambook.woff') format('woff'),url('../fonts/gothambook.svg') format('svg'),url('../fonts/gothambook.ttf') format('true-type');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'gothammedium';
    src: url('../fonts/gothammedium.eot');
    src: url('../fonts/gothammedium.eot?#iefix') format('embedded-opentype'),url('../fonts/gothammedium.woff') format('woff2'),url('../fonts/gothammedium.svg') format('svg'),url('../fonts/gothammedium.ttf') format('true-type');
    font-weight: normal;
    font-style: normal;
}