section.main-section.clear-fix
	.container.clear-fix
		.main-section-first-block.main-section-block.clear-fix
			.offer-block
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
					.offer-price
						span $2.990
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__label
						span 2 bedroom house in Dubai
					.offer__author.offer__author-1
						span Vision Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)


			.offer-block
				.offer-image.offer-border-2
					.offer-image-2
						a.image-show-more
							<i class="fa fa-search"></i>
							span Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>



					img(src="assests/images/post-2.jpg")
				.offer-text
					.offer__icon-2.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472.6 472.6" style="enable-background:new 0 0 472.6 472.6;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M417.3,453.2c-22-45.7-61.6-81.6-109.6-99.7v-28.9c23.6-1.3,68.1-7.3,94.2-34c3.3-3.4,4.6-8.3,3.4-12.9s-4.8-8.2-9.4-9.5   c-0.4-0.1-34.8-11.9-27.9-82.3c3-30,2.5-57-1.4-80.2c-4.5-26.6-13.5-47.5-26.6-62.1c-14.2-15.7-32.7-23.7-55-23.7   c-0.9,0-1.8,0-2.6,0C273.9,12.5,255.3,0,226.8,0c-13.3,0-27.2,2.7-41.4,8.2l-0.6,0.2c-11.2,4.2-32,12.1-49.6,35.5   c-20.5,27.2-30.3,67.5-29.1,119.7c1.2,52.3-7.4,77.9-14.8,90.2c-6.1,10.1-11.9,12.1-13.4,12.5c-5.1-0.4-9.2,2.2-11.8,6.6   c-2.7,4.5-1.7,10.2,1.3,14.6c1.2,1.8,8.2,11.2,25.1,20.3c19.3,10.4,43.4,16.3,71.9,17.5v27.5C117,370.8,77.6,407,55.3,453.3   c-2,4.2-1.7,9.1,0.7,13c2.5,3.9,6.8,6.3,11.4,6.3h337.8c4.6,0,9-2.4,11.4-6.3C419,462.3,419.3,457.4,417.3,453.2z M90.4,445.5   c21.6-33.2,54-58.3,91.5-70.4c5.6-1.8,9.4-7,9.4-12.8V312c0-3.6-1.4-7.1-4-9.6s-6-4-9.6-3.9c-38.9,0.4-62.4-8.5-75.2-16.1   c0.9-0.9,1.9-1.8,2.9-2.8c19.7-20.5,29-59.7,27.7-116.6c-2.6-105.1,42.1-122.1,61.1-129.3l0.6-0.2c11.2-4.2,21.9-6.4,31.8-6.4   c25.8,0,39,14.2,40.1,15.5c2.8,3.5,7.1,5.2,11.6,4.8c2.2-0.2,4.4-0.3,6.5-0.3c14.5,0,26,4.8,35,14.8c19,21,26.8,65.3,21.2,121.5   c-5.6,56.7,12.1,85.1,27.4,98.9c-20.6,11.4-49.9,15.7-72,15.7c-1.2,0-1.9,0-2,0c-3.6-0.1-7.2,1.3-9.8,3.8c-2.6,2.5-4.1,6-4.1,9.7   v51.7c0,5.9,3.8,11,9.4,12.8c38,12.3,70.5,37.1,92,69.7H90.4V445.5z" fill="#FFFFFF")
					.offer__label
						span Bitch party festival 2014
					.offer__author.offer__author-2
						span Long Beach
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
			.offer-block.big
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-5.jpg")
					.offer__lvl-big
						span.lvl-label Skybox club
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
					.comment-block.clear-fix
						.comment-avater
							img(src="assests/images/avatar-1.png")
						.comment-text
							.comment-label Lucy-Pussy
							.comment  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolorum aliquid iste, assumenda debitis, ipsam voluptate eligendi dolore".

		.main-section-second-block.main-section-block.clear-fix
			.offer-block
				.offer-image.offer-border-3
					.offer-image-3
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
				.offer-text
					.offer__icon-3.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve")
							g(id="Graduation_x5F_Cap")
								g
									path(d="M593.198,207.57l-272-136C316.608,69.275,311.457,68,306,68s-10.608,1.275-15.198,3.57l-272,136     C7.65,213.146,0,224.689,0,238s7.65,24.854,18.802,30.43L34,276.029v119.697C23.868,401.608,17,412.454,17,425     c0,18.785,15.232,34,34,34s34-15.215,34-34c0-12.546-6.868-23.392-17-29.291V293.012l51,25.5V425c0,65.722,83.725,119,187,119     c103.275,0,187-53.278,187-119V318.529l100.198-50.099C604.35,262.854,612,251.311,612,238S604.35,213.146,593.198,207.57z      M442,425c0,31.45-59.398,68-136,68c-76.602,0-136-36.55-136-68v-80.988l120.802,60.418c4.59,2.295,9.741,3.57,15.198,3.57     s10.608-1.275,15.198-3.57L442,344.012V425z M306,355.011L71.978,238L306,120.989L540.022,238L306,355.011z" fill="#FFFFFF")
					.offer__label Lorem ipsum dolor 
					.offer__author.offer__author-3
						span Bus Trans
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
					.offer-price
						span $2.990
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-1
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block.big
				.offer-image.offer-border-2
					.offer-image-2
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-6.jpg")
					.offer__lvl-big
						span.lvl-label Skybox club
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
				.offer-text
					.offer__icon-2.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472.6 472.6" style="enable-background:new 0 0 472.6 472.6;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M417.3,453.2c-22-45.7-61.6-81.6-109.6-99.7v-28.9c23.6-1.3,68.1-7.3,94.2-34c3.3-3.4,4.6-8.3,3.4-12.9s-4.8-8.2-9.4-9.5   c-0.4-0.1-34.8-11.9-27.9-82.3c3-30,2.5-57-1.4-80.2c-4.5-26.6-13.5-47.5-26.6-62.1c-14.2-15.7-32.7-23.7-55-23.7   c-0.9,0-1.8,0-2.6,0C273.9,12.5,255.3,0,226.8,0c-13.3,0-27.2,2.7-41.4,8.2l-0.6,0.2c-11.2,4.2-32,12.1-49.6,35.5   c-20.5,27.2-30.3,67.5-29.1,119.7c1.2,52.3-7.4,77.9-14.8,90.2c-6.1,10.1-11.9,12.1-13.4,12.5c-5.1-0.4-9.2,2.2-11.8,6.6   c-2.7,4.5-1.7,10.2,1.3,14.6c1.2,1.8,8.2,11.2,25.1,20.3c19.3,10.4,43.4,16.3,71.9,17.5v27.5C117,370.8,77.6,407,55.3,453.3   c-2,4.2-1.7,9.1,0.7,13c2.5,3.9,6.8,6.3,11.4,6.3h337.8c4.6,0,9-2.4,11.4-6.3C419,462.3,419.3,457.4,417.3,453.2z M90.4,445.5   c21.6-33.2,54-58.3,91.5-70.4c5.6-1.8,9.4-7,9.4-12.8V312c0-3.6-1.4-7.1-4-9.6s-6-4-9.6-3.9c-38.9,0.4-62.4-8.5-75.2-16.1   c0.9-0.9,1.9-1.8,2.9-2.8c19.7-20.5,29-59.7,27.7-116.6c-2.6-105.1,42.1-122.1,61.1-129.3l0.6-0.2c11.2-4.2,21.9-6.4,31.8-6.4   c25.8,0,39,14.2,40.1,15.5c2.8,3.5,7.1,5.2,11.6,4.8c2.2-0.2,4.4-0.3,6.5-0.3c14.5,0,26,4.8,35,14.8c19,21,26.8,65.3,21.2,121.5   c-5.6,56.7,12.1,85.1,27.4,98.9c-20.6,11.4-49.9,15.7-72,15.7c-1.2,0-1.9,0-2,0c-3.6-0.1-7.2,1.3-9.8,3.8c-2.6,2.5-4.1,6-4.1,9.7   v51.7c0,5.9,3.8,11,9.4,12.8c38,12.3,70.5,37.1,92,69.7H90.4V445.5z" fill="#FFFFFF")
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					.comment-block.clear-fix
						.comment-avater
							img(src="assests/images/avatar-2.png")
						.comment-text
							.comment-label Peter228
							.comment  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur voluptatibus ducimus quod excepturi dolores sapiente quas".

		.main-section-third-block.main-section-block.clear-fix
			.offer-block
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-1
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block
				.offer-image.offer-border-2
					.offer-image-2
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-2.jpg")
					.offer-price
						span $2.990
				.offer-text
					.offer__icon-2.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472.6 472.6" style="enable-background:new 0 0 472.6 472.6;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M417.3,453.2c-22-45.7-61.6-81.6-109.6-99.7v-28.9c23.6-1.3,68.1-7.3,94.2-34c3.3-3.4,4.6-8.3,3.4-12.9s-4.8-8.2-9.4-9.5   c-0.4-0.1-34.8-11.9-27.9-82.3c3-30,2.5-57-1.4-80.2c-4.5-26.6-13.5-47.5-26.6-62.1c-14.2-15.7-32.7-23.7-55-23.7   c-0.9,0-1.8,0-2.6,0C273.9,12.5,255.3,0,226.8,0c-13.3,0-27.2,2.7-41.4,8.2l-0.6,0.2c-11.2,4.2-32,12.1-49.6,35.5   c-20.5,27.2-30.3,67.5-29.1,119.7c1.2,52.3-7.4,77.9-14.8,90.2c-6.1,10.1-11.9,12.1-13.4,12.5c-5.1-0.4-9.2,2.2-11.8,6.6   c-2.7,4.5-1.7,10.2,1.3,14.6c1.2,1.8,8.2,11.2,25.1,20.3c19.3,10.4,43.4,16.3,71.9,17.5v27.5C117,370.8,77.6,407,55.3,453.3   c-2,4.2-1.7,9.1,0.7,13c2.5,3.9,6.8,6.3,11.4,6.3h337.8c4.6,0,9-2.4,11.4-6.3C419,462.3,419.3,457.4,417.3,453.2z M90.4,445.5   c21.6-33.2,54-58.3,91.5-70.4c5.6-1.8,9.4-7,9.4-12.8V312c0-3.6-1.4-7.1-4-9.6s-6-4-9.6-3.9c-38.9,0.4-62.4-8.5-75.2-16.1   c0.9-0.9,1.9-1.8,2.9-2.8c19.7-20.5,29-59.7,27.7-116.6c-2.6-105.1,42.1-122.1,61.1-129.3l0.6-0.2c11.2-4.2,21.9-6.4,31.8-6.4   c25.8,0,39,14.2,40.1,15.5c2.8,3.5,7.1,5.2,11.6,4.8c2.2-0.2,4.4-0.3,6.5-0.3c14.5,0,26,4.8,35,14.8c19,21,26.8,65.3,21.2,121.5   c-5.6,56.7,12.1,85.1,27.4,98.9c-20.6,11.4-49.9,15.7-72,15.7c-1.2,0-1.9,0-2,0c-3.6-0.1-7.2,1.3-9.8,3.8c-2.6,2.5-4.1,6-4.1,9.7   v51.7c0,5.9,3.8,11,9.4,12.8c38,12.3,70.5,37.1,92,69.7H90.4V445.5z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-2
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
			.offer-block.big
				.offer-image.offer-border-2
					.offer-image-2
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-6.jpg")
					.offer__lvl-big
						span.lvl-label Skybox club
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
				.offer-text
					.offer__icon-2.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472.6 472.6" style="enable-background:new 0 0 472.6 472.6;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M417.3,453.2c-22-45.7-61.6-81.6-109.6-99.7v-28.9c23.6-1.3,68.1-7.3,94.2-34c3.3-3.4,4.6-8.3,3.4-12.9s-4.8-8.2-9.4-9.5   c-0.4-0.1-34.8-11.9-27.9-82.3c3-30,2.5-57-1.4-80.2c-4.5-26.6-13.5-47.5-26.6-62.1c-14.2-15.7-32.7-23.7-55-23.7   c-0.9,0-1.8,0-2.6,0C273.9,12.5,255.3,0,226.8,0c-13.3,0-27.2,2.7-41.4,8.2l-0.6,0.2c-11.2,4.2-32,12.1-49.6,35.5   c-20.5,27.2-30.3,67.5-29.1,119.7c1.2,52.3-7.4,77.9-14.8,90.2c-6.1,10.1-11.9,12.1-13.4,12.5c-5.1-0.4-9.2,2.2-11.8,6.6   c-2.7,4.5-1.7,10.2,1.3,14.6c1.2,1.8,8.2,11.2,25.1,20.3c19.3,10.4,43.4,16.3,71.9,17.5v27.5C117,370.8,77.6,407,55.3,453.3   c-2,4.2-1.7,9.1,0.7,13c2.5,3.9,6.8,6.3,11.4,6.3h337.8c4.6,0,9-2.4,11.4-6.3C419,462.3,419.3,457.4,417.3,453.2z M90.4,445.5   c21.6-33.2,54-58.3,91.5-70.4c5.6-1.8,9.4-7,9.4-12.8V312c0-3.6-1.4-7.1-4-9.6s-6-4-9.6-3.9c-38.9,0.4-62.4-8.5-75.2-16.1   c0.9-0.9,1.9-1.8,2.9-2.8c19.7-20.5,29-59.7,27.7-116.6c-2.6-105.1,42.1-122.1,61.1-129.3l0.6-0.2c11.2-4.2,21.9-6.4,31.8-6.4   c25.8,0,39,14.2,40.1,15.5c2.8,3.5,7.1,5.2,11.6,4.8c2.2-0.2,4.4-0.3,6.5-0.3c14.5,0,26,4.8,35,14.8c19,21,26.8,65.3,21.2,121.5   c-5.6,56.7,12.1,85.1,27.4,98.9c-20.6,11.4-49.9,15.7-72,15.7c-1.2,0-1.9,0-2,0c-3.6-0.1-7.2,1.3-9.8,3.8c-2.6,2.5-4.1,6-4.1,9.7   v51.7c0,5.9,3.8,11,9.4,12.8c38,12.3,70.5,37.1,92,69.7H90.4V445.5z" fill="#FFFFFF")
					.offer__lvl
						<i class="fa fa-star fa-2x" aria-hidden="true"></i>
						<i class="fa fa-star fa-2x" aria-hidden="true"></i>
						<i class="fa fa-star fa-2x" aria-hidden="true"></i>
						<i class="fa fa-star fa-2x" aria-hidden="true"></i>
						<i class="fa fa-star fa-2x" aria-hidden="true"></i>
					.comment-block.clear-fix
						.comment-avater
							img(src="assests/images/avatar-2.png")
						.comment-text
							.comment-label Peter228
							.comment  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur voluptatibus ducimus quod excepturi dolores sapiente quas".

		.main-section-fouth-block.main-section-block.clear-fix
			.offer-block
				.offer-image.offer-border-3
					.offer-image-3
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
				.offer-text
					.offer__icon-3.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve")
							g(id="Graduation_x5F_Cap")
								g
									path(d="M593.198,207.57l-272-136C316.608,69.275,311.457,68,306,68s-10.608,1.275-15.198,3.57l-272,136     C7.65,213.146,0,224.689,0,238s7.65,24.854,18.802,30.43L34,276.029v119.697C23.868,401.608,17,412.454,17,425     c0,18.785,15.232,34,34,34s34-15.215,34-34c0-12.546-6.868-23.392-17-29.291V293.012l51,25.5V425c0,65.722,83.725,119,187,119     c103.275,0,187-53.278,187-119V318.529l100.198-50.099C604.35,262.854,612,251.311,612,238S604.35,213.146,593.198,207.57z      M442,425c0,31.45-59.398,68-136,68c-76.602,0-136-36.55-136-68v-80.988l120.802,60.418c4.59,2.295,9.741,3.57,15.198,3.57     s10.608-1.275,15.198-3.57L442,344.012V425z M306,355.011L71.978,238L306,120.989L540.022,238L306,355.011z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-3
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-2.jpg")
					.offer-price
						span $2.990
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-1
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block
				.offer-image.offer-border-1
					.offer-image-1
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-1.jpg")
					.offer-price
						span $2.990
				.offer-text
					.offer__icon-1.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1   c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6   c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2   c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5   C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9   v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0   s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-1
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						span (1998)
			.offer-block
				.offer-image.offer-border-2
					.offer-image-2
						a.image-show-more
							<i class="fa fa-search"></i> Show more
						.image-lvl
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							span
								<i class="fa fa-comments-o"></i>
					img(src="assests/images/post-2.jpg")
				.offer-text
					.offer__icon-2.offer__icon
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 472.6 472.6" style="enable-background:new 0 0 472.6 472.6;" xml:space="preserve" width="25px" height="25px")
							g
								path(d="M417.3,453.2c-22-45.7-61.6-81.6-109.6-99.7v-28.9c23.6-1.3,68.1-7.3,94.2-34c3.3-3.4,4.6-8.3,3.4-12.9s-4.8-8.2-9.4-9.5   c-0.4-0.1-34.8-11.9-27.9-82.3c3-30,2.5-57-1.4-80.2c-4.5-26.6-13.5-47.5-26.6-62.1c-14.2-15.7-32.7-23.7-55-23.7   c-0.9,0-1.8,0-2.6,0C273.9,12.5,255.3,0,226.8,0c-13.3,0-27.2,2.7-41.4,8.2l-0.6,0.2c-11.2,4.2-32,12.1-49.6,35.5   c-20.5,27.2-30.3,67.5-29.1,119.7c1.2,52.3-7.4,77.9-14.8,90.2c-6.1,10.1-11.9,12.1-13.4,12.5c-5.1-0.4-9.2,2.2-11.8,6.6   c-2.7,4.5-1.7,10.2,1.3,14.6c1.2,1.8,8.2,11.2,25.1,20.3c19.3,10.4,43.4,16.3,71.9,17.5v27.5C117,370.8,77.6,407,55.3,453.3   c-2,4.2-1.7,9.1,0.7,13c2.5,3.9,6.8,6.3,11.4,6.3h337.8c4.6,0,9-2.4,11.4-6.3C419,462.3,419.3,457.4,417.3,453.2z M90.4,445.5   c21.6-33.2,54-58.3,91.5-70.4c5.6-1.8,9.4-7,9.4-12.8V312c0-3.6-1.4-7.1-4-9.6s-6-4-9.6-3.9c-38.9,0.4-62.4-8.5-75.2-16.1   c0.9-0.9,1.9-1.8,2.9-2.8c19.7-20.5,29-59.7,27.7-116.6c-2.6-105.1,42.1-122.1,61.1-129.3l0.6-0.2c11.2-4.2,21.9-6.4,31.8-6.4   c25.8,0,39,14.2,40.1,15.5c2.8,3.5,7.1,5.2,11.6,4.8c2.2-0.2,4.4-0.3,6.5-0.3c14.5,0,26,4.8,35,14.8c19,21,26.8,65.3,21.2,121.5   c-5.6,56.7,12.1,85.1,27.4,98.9c-20.6,11.4-49.9,15.7-72,15.7c-1.2,0-1.9,0-2,0c-3.6-0.1-7.2,1.3-9.8,3.8c-2.6,2.5-4.1,6-4.1,9.7   v51.7c0,5.9,3.8,11,9.4,12.8c38,12.3,70.5,37.1,92,69.7H90.4V445.5z" fill="#FFFFFF")
					.offer__label  Lorem ipsum dolor sit amet
					.offer__author.offer__author-2
						span Reality Agency
					.offer__lvl
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						span (1998)
		.show-more
			span Load more
			<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
