*{
	box-sizing: border-box;
}
.clear-fix{
	display: table;
	clear: both;
	content: '';
}
.container{
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}
.input-block{
	width: 700px;
	margin: 30px auto 0;
	line-height: 30px;
	text-align: center;
}
.input__form{
	width: 85%;
	height: 30px;
	float: left;
	font-family: Arial;
	font-size: 18px;
	outline-color: #f4ee42;
}
.add_button, .remove__button, .delete__button{
	width: 15%;
	height: 30px;
	float: left;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.add_button{
	background-color: #15b232;
}
.remove__button{
	background-color: #425ff4;
}
.delete__button{
	background-color: #f44242;
}
.content{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 10px;
	position: relative;
	text-align: left;
	background-color: #666;
	color: #fff;
}
.input_redact{
	width: 90%;
	height: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	font-size: 18px;
	color: #fff;
}
.remove_button, .delete_button, .save_button{
	width: 25px;
	height: 25px;
	position: absolute;
	left: calc(100% - 25px);
	background-color: #333;
	cursor: pointer;
	transition: .7s;
}
.remove_button{
	top: 0px;
	background-image: url(edit.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.save_button{
	top: 0px;
	background-image: url(checked.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.delete_button{
	top: calc(100% - 25px);
	background-image: url(rubbish-bin.png);
	background-repeat: no-repeat;
	background-position: center center;
}