footer.footer-section
	.container
		.footer-header
			h2 Subscribe to our newsletter
			.subscribe
				input(type="text" placeholder="your@email.com")
				input(type="submit" value="subscribe")
		.footer-main.clear-fix
			.first-footer-block.footer-block
				span Ipsum Ipsum
				ul
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
			.second-footer-block.footer-block
				span Ipsum Ipsum
				ul
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
					li 
						a(href="#") Lorem loremium
			.footer-copyright.footer-block
				span Follow us
				.footer-icons
					a(href="#")
						<i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#")
						<i class="fa fa-twitter" aria-hidden="true"></i>
					a(href="#")
						<i class="fa fa-google-plus" aria-hidden="true"></i>
					a(href="#")
						<i class="fa fa-youtube" aria-hidden="true"></i>					
				.copyright
					span Copyright © All Right reserved